<div class="container-form">
    <h1>Create</h1>
    <form [formGroup]="invoiceForm" #form="ngForm" (ngSubmit)="onAddInvoice()" novalidate>
        <div class="form-group" formGroupName="senderAddress">
            <p>Bill From</p>
            <div class="form-control">
                <label>Street Address</label>
                <input type="text" class="street" placeholder="Enter a street" formControlName="street">
            </div>
            <div class="form__sub-group">
                <div class="form-control">
                    <label>City</label>
                    <input type="text" class="input-group" placeholder="Enter a city" formControlName="city">
                </div>
                <div class="form-control">
                    <label>Post Code</label>
                    <input type="text" class="input-group" placeholder="Enter a post code" formControlName="postCode">
                    <mat-error *ngIf="submitted && invoiceForm.get('senderAddress.postCode')?.errors?.required">
                        Post code is required
                    </mat-error>
                    <!-- <mat-error *ngIf="submitted && invoiceForm.get('senderAddress.postCode')?.errors?.maxLength">
                        Post Code should be at least 5 characters
                    </mat-error> -->
                </div>
                <div class="form-control">
                    <label>Country</label>
                    <input type="text" class="input-group" placeholder="Enter a country" formControlName="country">
                </div>
            </div>
        </div>

        <div class="form-group">
            <p>Bill To</p>
            <div class="form-control">
                <label for="clientName">Client's Name</label>
                <input type="text" class="client-name" placeholder="Enter a name" formControlName="clientName" required>
                <mat-error *ngIf="submitted && invoiceForm.get('clientName')?.errors.required">
                    Client Name is required
                </mat-error>
            </div>
            <div class="form-control">
                <label for="clientEmail">Client's Email</label>
                <input type="text" class="client-email" placeholder="Enter a email" formControlName="clientEmail">
                <mat-error *ngIf="submitted && invoiceForm.controls['clientEmail']?.errors?.required">
                    Email address is required
                </mat-error>
                <mat-error *ngIf="submitted && invoiceForm.controls['clientEmail']?.errors?.email">
                    Email is not correct
                </mat-error>
            </div>
        </div>

        <div class="form-group" formGroupName="clientAddress">
            <div class="form-control">
                <label>Street Address</label>
                <input type="text" class="street" placeholder="Enter a street" formControlName="street">
            </div>
            <div class="form__sub-group">
                <div class="form-control">
                    <label>City</label>
                    <input type="text" class="input-group" placeholder="Enter a city" formControlName="city">
                </div>
                <div class="form-control">
                    <label>Post Code</label>
                    <input type="text" class="input-group" placeholder="Enter a post code" formControlName="postCode">
                </div>
                <div class="form-control">
                    <label>Country</label>
                    <input type="text" class="input-group" placeholder="Enter a country" formControlName="country">
                </div>
            </div>
        </div>
        <div class="form-group">
        <label>Invoice Date</label>
        <input type="date" formControlName="paymentDue">

        <!--<label>Payment Terms</label>
        <select formControlName="paymentTerms">
            <option [value]="30">Net 30 Days</option>
            <option [value]="60">Net 60 Days</option>
        </select>
        <div class="form-control">
            <label>Project Description</label>
            <input type="text" placeholder="Enter a project" formControlName="description">
        </div>-->
    </div>

        <!-- <div class="form-group">
        <h1>Item List</h1>
         <table class="item-list">
             <thead>
                <tr class="table-heading">
                    <th class="item-name">Item Name</th>
                    <th class="qty">Qty</th>
                    <th class="price">Price</th>
                    <th class="total">Total</th>
                    <th class="action"></th>
                </tr>
             </thead>
             <tbody>
                <tr class="table-item" *ngFor="let row of rowArray;let i = index">
                    <td class="item-name"><input type="text" [(ngModel)]="row[i].itemName"></td>
                    <td class="qty"><input type="text" [(ngModel)]="row[i].qty"></td>
                    <td class="price"><input type="text" [(ngModel)]="row[i].price"></td>
                    <td class="total"><p class="total-price">{{ row.total }} = {{ row.qty }} * {{ row.price }}</p></td>
                    <td class="btn-remove" (click)="onRemoveRow(i)"><button>Remove</button></td>
                    <td>
                        <button (click)="addNewRow(i)">+ Add Item</button>
                    </td>
                </tr>
                <tr>
                    
                </tr>
             </tbody>
        </table> 
    </div> -->
        <!-- <div class="error-message" *ngIf="invoiceForm.controls['required']">
        <p>- All fields must be filled.</p>
        <p>- An item must be added.</p>
    </div> -->
        <div class="btn-group">
            <button mat-button (click)="closeSidenav()" class="btn">Cancel</button>
            <button mat-button type="submit" class="btn" [disabled]="!invoiceForm.invalid">Add</button>
            <!-- <button mat-button type="submit" class="btn">Create Invoice</button> -->
        </div>
    </form>
    <div class="results">
        <h2>Form Data</h2>
    </div>
</div>